body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 100%;
  color: #222526;
}

.leader {
  max-width: 100%;
  padding: 5rem 1rem 2rem;
  background-color: #222526;
  color: #D3E8F2;
  letter-spacing: 1px;
  font-weight: 200;
}
.leader-inner {
  max-width: 800px;
  margin: auto;
}
h1 {
  margin: 0;
  font-family: 'Fjalla One', sans-serif;
  font-size: 68px;
}

section {
  margin: auto;
  padding: 0 1rem;
  max-width: 800px;
}

p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
}

.logo {
  height: 40px;
  margin-top: 10px;
}

.example-fiddle {
  margin-left: 10px;
}

h2 {
  font-size: 30px;
  font-weight: 200;
}
h3 {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.created-by {
  margin-top: 75px;
}

ul {
  list-style: none;
  margin-left: -1em;
}

ul li {
  margin-bottom: 0.25em;
}

ul li::before {
  content: '→';
  margin: 1em;
}

a {
  color: crimson;
}
a:hover,
a:active {

}
a:visited {
  color: crimson;
}


pre {
  margin: 0;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}
code {
  margin: 0;
  font-family: 'Fira Mono', monospace;
  font-size: 14px;
}

footer {
  text-align: center;
}
