html, body {
  background-color: #333;
  color: #D3E8F2;
}

p {
  font-size: 1.1em;
}

.project-header {
  margin-top: 60px;
  margin-bottom: 30px;
  font-family: 'Fjalla One', sans-serif;
}

.logo {
  height: 40px;
  margin-top: 10px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
