html, body {
  background-color: #333;
  color: #D3E8F2;
}

p {
  font-size: 1.1em;
}

.project-header {
  margin-top: 60px;
  margin-bottom: 30px;
  font-family: 'Fjalla One', sans-serif;
}

.logo {
  height: 40px;
  margin-top: 10px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.examples {
  margin-top: 10px;
  margin-bottom: 10px;
}

.example-fiddle {
  margin-left: 10px;
}

h2 {
  margin-top: 50px;
}

h3 {
  margin-top: 50px;
}

.created-by {
  margin-top: 75px;
}

ul {
  list-style: none;
  margin-left: -1em;
}

ul li {
  margin-bottom: 0.25em;
}

ul li::before {
  content: '↳';
  margin: 1em;
}
